:root {
    --ctas-highlights: #FFDD2D;
}
/* General Styles */
.primary-cta {
    background-color: var(--ctas-highlights);
    color: black;
}

/* Nav bar styles */
.logo {
    width: 4.8rem;
    height: 4.8rem;
}